.small-6.columns
  label Service URL
    small Required
    input#account-homepage(type="url", name="serviceHomepage", placeholder="http://twitter.com", required="")
  label Account Name
    small Required
    input#account-name(type="text", name="accountName", required="")
  a#addAccount.add.button(href="#") Add Account
.small-6.columns
  label Accounts Added
    select.accounts-container#accounts-container(name="accounts-container", multiple="")
  button#removeAccount.remove.button(type="button") Remove

