.small-6.columns
  label Service
    small Required
    select#account-homepage
      option(value="") Select One
      option(value="https://www.twitter.com") Twitter
      option(value="https://plus.google.com") Google Plus
      option(value="https://www.facebook.com") FaceBook
      option(value="https://www.linkedin.com") LinkedIn
  label Account Name
    small Required
    input#account-name(type="text", name="accountName", required="")
  a#addAccount.add.button(href="#") Add Account
.small-6.columns
  label Accounts Added
    select.accounts-container#accounts-container(name="accounts-container", multiple="")
  button#removeAccount.remove.button(type="button") Remove

