form#doap-form(data-abide="ajax")
  .large-12.columns
    .row
      h1 DOAP Generator
      ul.tabs(data-tab="", role="tablist")
        li.tab-title.active(role="presentational")
          a(href="#panel-1", role="tab" aria-selected="true", controls="panel-1") Project
        li.tab-title(role="presentational")
          a(href="#panel-2", role="tab" aria-selected="false", controls="panel-2") People
        li.tab-title(role="presentational")
          a(href="#panel-3", role="tab" aria-selected="false", controls="panel-3") Versions
        li.tab-title(role="presentational")
          a(href="#panel-4", role="tab" aria-selected="false", controls="panel-4") Specs
        li.tab-title(role="presentational")
          a(href="#panel-5", role="tab" aria-selected="false", controls="panel-5") Social Media
      .tabs-content
        section#panel-1.content.active(role="tabpanel", aria-hidden="false")
          .small-12.columns
            .input-container
              label(for="name") Project Name
                small required
                input#name(type="text", name="name", placeholder="Project Name", required="", tabindex="0")
            .input-container
              label(for="shortdesc") Short Description
                small required
                input#shortdesc(type="text", name="shortdesc", placeholder="Short Description, one line", required="")
            .input-container
              label(for="vendor") Vendor
                small required
                select#vendor(name="vendor", required="")
                  option(value="") Select One
                  option(value="Red Hat") Red Hat
                  option(value="Apache") Apache
                  option(value="Eclipse") Eclipse
            .input-container
              label Description
                small required
                textarea#desc(name="desc", placeholder="Longer Description", required="" cols="120" rows="10")
            .input-container
              label Homepage
                small required
                input#homepage(type="url", name="homepage", placeholder="Homepage of the project", required="")
            .input-container
              label Logo URL
                small required
                input#logoURL(type="url", name="logoURL", placeholder="http://static.jboss.org/<project_name>/images/<project_name>_200x150.png", required="")
            .input-container
              label Project License
                small required
                select#licenseURL(name="licenseURL", required="")
                  option(value="") Select One
                  option(value="http://opensource.org/licenses/GPL-2.0") GPL 2.0
                  option(value="http://opensource.org/licenses/GPL-3.0") GPL 3.0
                  option(value="http://opensource.org/licenses/LGPL-2.1") LGPL 2.1
                  option(value="http://opensource.org/licenses/LGPL-3.0") LGPL 3.0
                  option(value="http://opensource.org/licenses/Apache-2.0") Apache 2.0
                  option(value="http://opensource.org/licenses/EPL-1.0") Eclipse
                  option(value="http://opensource.org/licenses/AGPL-3.0") AGPL 3.0
                  option(value="http://opensource.org/licenses/MIT") MIT
                  option(value="http://opensource.org/licenses/BSD-3-Clause") BSD 3 Clause
                  option(value="http://opensource.org/licenses/BSD-2-Clause") BSD 2 Clause
            .input-container
              label Repository Type
                small required
                select#repositorytype(name="repositoryType", required="")
                  option(value="") Select One
                  option(value="CVSRepository") CVS
                  option(value="SVNRepository") SVN
                  option(value="ArchRepository") Arch
                  option(value="BKRepository") BitKeeper
                  option(value="GitRepository") Git
                  option(value="BazaarBranch") Bazar
                  option(value="HgRepository") Mercurial
                  option(value="DarcsRepository") Darcs
            #repoLocationGroup.hide.repository.input-container
              label Checkout URL
                small required
                input(type="url", name="repoLocation", placeholder="Repository URL (.git, svn repo location)")
            #repoModuleGroup.hide.repository
              label Module
                small required
                input(type="text", name="repoModule", placeholder="Module")
            #repoAnonRoot.hide.repository.input-container
              label Anon Root
                small required
                input(type="text", name="repoAnonRoot", placeholder="Anon-Root")
            #repoBrowseGroup.hide.repository.input-container
              label Repo Homepage
                input(type="url", name="repoBrowse", placeholder="Fisheye, viewcvs, Github URL, Bitbucket URL")
            //-
              .input-container
                label Category of Project
                  input#category(type="text", name="category", placeholder="Server, library, etc")
            .input-container
              label Issue Tracker URL
                input#issueDB(type="url", name="issueDB", placeholder="Issue Tracker URL")
            .input-container
              label Wiki URL
                input#wiki(type="url", name="wiki", placeholder="Wiki URL")
            .input-container
              label Mailing List URL
                input#mailingListURL(type="url", name="mailingListURL", placeholder="Mailing List URL")
            .input-container
              label Programming Language
                select.language-container#language(name="language" multiple="")
                  option(value="Java") Java
                  option(value="C/C++") C/C++
                  option(value="Swift") Swift
                  option(value="Objective-C") Objective-C
                  option(value="HTML5") HTML5
                  option(value="JavaScript") JavaScript
                  option(value="Groovy") Groovy
                  option(value="Ruby") Ruby
                  option(value="Scala") Scala
                  option(value="Clojure") Clojure
                  option(value="Perl") Perl
          .row
            .small-3.columns.small-centered.end.centered
              a.next.button(href="#") Next Page >>
        section#panel-2.content(role="tabpanel", aria-hidden="true")
          .small-6.columns
            .input-container
              label First Name
                small required
                input#first-name(type="text", name="first-name", placeholder="First Name")
            .input-container
              label Last Name
                small required
                input#last-name(type="text", name="last-name", placeholder="Last Name")
            .input-container
              label JBoss Community Account
                input#community-account(type="text", name="community-account", placeholder="JBoss Community Account Username")
            .input-container
              label Role within the project (must have at least one Lead)
                small required
                select#role(name="role")
                  option(value="") Select one
                  option(value="lead") Lead
                  option(value="documenter") Documenter
                  option(value="tester") Tester
                  option(value="developer") Developer
                  option(value="helper") Helper
                  option(value="translator") Translator
            a#addPerson.button(href="#") Add This Person
          .small-6.columns
            label(for="people-container") People Added
            select.people-container#people-container(name="people-container", multiple="")
            button#removePerson.button(type="button") Remove
          .row
            .small-3.columns.small-centered.end.centered
              a.next.button(href="#") Next Page >>
        section#panel-3.content(role="tabpanel", aria-hidden="true")
          .small-12.columns
            .row
              p
                | Use this page to provide details of recent releases. There's no need to provide every single release for the project. For example, you could provide the latest GA release, the latest early-access release from an upcoming GA release and maybe the latest GA release that is available in a current product. If don't have any recent releases, or do not wish to add releases, there is nothing to fill out.
            #insert-version-container.container
            .row
              a#addVersion.button(href="#") Add Another Version
          .row
            .small-3.columns.small-centered.end.centered
              a.next.button(href="#") Next Page >>
        section#panel-4.content(role="tabpanel", aria-hidden="true")
          .small-12.columns
            .row
              p
                | Use this page to provide details of specifications the project implements or uses. For example, a JSR number if the project implements it, or an OSIS or IEEE specification used in the project. If don't have any specifications being used or implemented, or do not wish to add them, there is nothing to fill out.
            #insert-spec-container.container
            .row
              a#addSpec.button(href="#") Add Another Spec
          .row
            .small-3.columns.small-centered.end.centered
              a.next.button(href="#") Next Page >>
        section#panel-5.content(role="tabpanel", aria-hidden="true")
          .small-12.columns
            .row
              p
                | Use this page to add any social media services your project uses. If your project doesn't use social media, or you do not wish to add them, there is nothing to fill out.
            #insert-account-container.container
            .row
              a#addOnlineAccount.button(herf="#") Add Another Online Account
          .row
            .small-3.columns.small-centered.end.centered
              button#submit-button.button(type="submit") Generate DOAP
#doap-modal.reveal-modal(data-reveal="")
  a#download-button.button(href="#") Download
  pre
    code.rdf-output#doap-code
  a.close-reveal-modal &#215;
