form#doap-form(data-abide="ajax")
  .large-12.columns
    .row
      h1 DOAP Generator
      ul.tabs(role="tablist")
        li.tab-title.active(role="presentational")
          a(href="#project-panel", role="tabbutton" aria-selected="true") Project
        li.tab-title(role="presentational")
          a(href="#people-panel", role="tabbutton" aria-selected="false") People
        li.tab-title(role="presentational")
          a(href="#versions-panel", role="tabbutton" aria-selected="false") Versions
        li.tab-title(role="presentational")
          a(href="#specs-panel", role="tabbutton" aria-selected="false") Specs
        li.tab-title(role="presentational")
          a(href="#social-media-panel", role="tabbutton" aria-selected="false") Social Media
      .tabs-content
        section#project-panel.content.active(role="tabpanel", aria-hidden="false")
          include project.jade
          .row
            .small-6.small-offset-5.columns.end
              a.next.button(href="#people-panel", role="tabbutton") Next Page >>
        section#people-panel.content(role="tabpanel", aria-hidden="true")
          include people.jade
          .row
            .small-6.small-offset-5.columns.end
              a.next.button(href="#versions-panel", role="tabbutton") Next Page >>
        section#versions-panel.content(role="tabpanel", aria-hidden="true")
          .small-12.columns
            .row
              p
                | Use this page to provide details of recent releases. There's no need to provide every single release for the project. For example, you could provide the latest GA release, the latest early-access release from an upcoming GA release and maybe the latest GA release that is available in a current product. If don't have any recent releases, or do not wish to add releases, there is nothing to fill out.
          include versions.jade
          .row
            .small-6.small-offset-5.columns.end
              a.next.button(href="#specs-panel", role="tabbutton") Next Page >>
        section#specs-panel.content(role="tabpanel", aria-hidden="true")
          .small-12.columns
            .row
              p
                | Use this page to provide details of specifications the project implements or uses. For example, a JSR number if the project implements it, or an OSIS or IEEE specification used in the project. If don't have any specifications being used or implemented, or do not wish to add them, there is nothing to fill out.
          include specs.jade
          .row
            .small-6.small-offset-5.columns.end
              a.next.button(href="#social-media-panel", role="tabbutton") Next Page >>
        section#social-media-panel.content(role="tabpanel", aria-hidden="true")
          .small-12.columns
            .row
              p
                | Use this page to add any social media services your project uses. If your project doesn't use social media, or you do not wish to add them, there is nothing to fill out.
          include accounts.jade
          .row
            .small-5.small-offset-5.columns.end
              button#submit-button.button(type="submit") Generate DOAP

