.small-6.columns
  a#findPerson.add.button(href="#") Find a Person
  .input-container
    label First Name
      small required
      input#first-name(type="text", name="first-name", placeholder="First Name")
  .input-container
    label Last Name
      small required
      input#last-name(type="text", name="last-name", placeholder="Last Name")
  .input-container
    label JBoss Community Account
      input#community-account(type="text", name="community-account", placeholder="JBoss Community Account Username")
  .input-container
    label Role within the project (must have at least one Lead)
      small required
      select#role(name="role")
        option(value="") Select one
        option(value="lead") Lead
        option(value="maintainer") Maintainer
        option(value="documenter") Documenter
        option(value="tester") Tester
        option(value="developer") Developer
        option(value="helper") Helper
        option(value="translator") Translator
  a#addPerson.add.button(href="#") Add This Person
.small-6.columns
  label People Added
    select.people-container#people-container(name="people-container", multiple="")
  button#removePerson.remove.button(type="button") Remove
