.small-6.columns
  label Name
    small Required
    input#spec-name(type="text", name="specName", placeholder="Spec Name", required="")
  label Description
    textarea#spec-desc(name="specDecs")
  label URL
    input#spec-url(type="url", name="seeAlsoURL")
  a#addSpec.add.button(href="#") Add This Spec
.small-6.columns
  label Specs Added
    select.specs-container#specs-container(name="specs-container", multiple="")
  button#removeSpec.remove.button(type="button") Remove

