.small-6.columns
  label Name
    small Required
    input(type="text", name="specName", placeholder="Spec Name", required="")
  label Description
    textarea(name="specDecs")
  label URL
    input(type="url", name="seeAlsoURL")
  a#addSpec.add.button(href="#") Add This Spec
.small-6.columns
  label Specs Added
    select.specs-container#specs-container(name="specs-container", multiple="")
  button#removeSpec.remove.button(type="button") Remove
//-
  .small6.columns
    .input-container
      label First Name
        small required
        input#first-name(type="text", name="first-name", placeholder="First Name")
    .input-container
      label Last Name
        small required
        input#last-name(type="text", name="last-name", placeholder="Last Name")
    .input-container
      label JBoss Community Account
        input#community-account(type="text", name="community-account", placeholder="JBoss Community Account Username")
    .input-container
      label Role within the project (must have at least one Lead)
        small required
        select#role(name="role")
          option(value="") Select one
          option(value="lead") Lead
          option(value="documenter") Documenter
          option(value="tester") Tester
          option(value="developer") Developer
          option(value="helper") Helper
          option(value="translator") Translator
    a#addPerson.button(href="#") Add This Person
  .small-6.columns
    label(for="people-container") People Added
    select.people-container#people-container(name="people-container", multiple="")
    button#removePerson.button(type="button") Remove
